<footer class="container-fluid bg-light p-3 text-center" data-instance-id="8">
  <div class="row mt-3">
    <div class="col-4">
      <i class="fas fa-mobile-alt"></i>
      <p class="phone">${this.details.phone}</p>
    </div>
    <div class="col-4">
      <i class="fas fa-map-marker-alt"></i>
      <p class="adress">${this.details.adress}</p>
    </div>
    <div class="col-4">
      <i class="fas fa-envelope"></i>
      <p class="email">${this.details.email}</p>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col">
      <p class="copyright">${this.details.copyright}</p>
    </div>
  </div>
</footer>
