<div>

<div class="row">

  <!--Player 1 input and choice of type-->
  <div class="col-md-6 mx-auto">
    <div>
      <h2 class="choose-playerOne mt-5 pb-3">Spelare 1</h2>
      <div>
        <input type="text" name="player1" placeholder="Ange namn:" required pattern="[a-zA-ZåäöÅÄÖ]{2,10}" title="Använd endast 2-10 bokstäver"
          id="name1" class="untouched">
      </div>
    </div>
    <div class="bot human mt-4">
      <div>Typ av spelare?</div>
      <input type="radio" checked name="player1" id="human">
      <label for="human">Människa</label>
      <input type="radio" name="player1" id="computer">
      <label for="computer">Dator</label>
    </div>
  </div>

  <!--Player 2 input and choice of type-->
  <div class="col-md-6 align-middle">
    <div>
      <h2 class="choose-playerOne mt-5 pb-3">Spelare 2</h2>
      <div>
        <input type="text" name="player2" placeholder="Ange namn:" required pattern="[a-zA-ZåäöÅÄÖ]{2,10}" title="Använd endast 2-10 bokstäver"
          id="name2" class="untouched">
      </div>
    </div>
    <div class="bot human mt-4">
      <div>Typ av spelare?</div>
      <input type="radio" checked name="player2" id="human">
      <label for="human">Människa</label>
      <input type="radio" name="player2" id="computer">
      <label for="computer">Dator</label>
    </div>
    
  </div>
 
</div>

<div class="row">
    <div class="col-md-4 mx-auto">
        <input type="submit" value="Börja spela!" class="btn btn-warning start-game link-button col-md-4 mt-4 mb-5">
      </div>
</div>
</div>