<form name="GameForm-container">
  <!--Player 1 input and choice of type-->
  <div>
    <h2 class="choose-playerOne col-md-4 mt-5 pb-3">Spelare 1</h2>
    <div class="input-group mb-3 col-md-4">
      <input type="text" name="player1" placeholder="Ange namn:" required pattern="[a-zA-ZåäöÅÄÖ]{2,10}" title="Använd endast 2-10 bokstäver"
        id="name1" class="untouched">
    </div>
  </div>
  <div class="bot human col-md-4 mt-5">
    <div id="p1type">Typ av spelare?</div>
    <input class="radio-btn" type="radio" checked name="player1" id="human1">
    <label for="human">Människa</label>
    <input class="radio-btn" type="radio" name="player1" id="computer1">
    <label for="bot">Dator</label>
  </div>

  <!--Player 2 input and choice of type-->
  <div>
    <h2 class="choose-playerOne col-md-4 mt-5 pb-3">Spelare 2</h2>
    <div class="input-group mb-3 col-md-4">
      <input type="text" name="player2" placeholder="Ange namn:" required pattern="[a-zA-ZåäöÅÄÖ]{2,10}" title="Använd endast 2-10 bokstäver"
        id="name2" class="untouched">
    </div>
  </div>
  <div class="bot human col-md-4 mt-5">
    <div id="p2type">Typ av spelare?</div>
    <input class="radio-btn" type="radio" checked name="player2" id="human2">
    <label for="human">Människa</label>
    <input class="radio-btn" type="radio" name="player2" id="computer2">
    <label for="bot">Dator</label>
  </div>
  <div>
    <input type="submit" value="Börja spela!" class="btn start-game btn-primary link-button col-md-2 mt-5">
  </div>

</form>