<div class="container-fluid">
  <div class="row pt-0">
    <div class="col-sm-6 lead mx-0 mt-4">
        <img class="shroom-img mt-4 mr-4 pt-2 pb-2" src="/images/shroom2.jpg" alt="mario coins">
      <h1 class="display-4 mb-0 pl-5 pt-3">Om Spelet</h1>
      <div class="game-rules pb-0">
        <p class="about-text pt-4 mb-0 mt-2">Fyra i rad är ett strategiskt sällskapsspel för två personer.
          Varannan gång lägger deltagarna en bricka i spelet.
          Den som först får fyra av sina brickor i rad, vågrätt, lodrätt eller diagonalt vinner.
          <br><br>
          Eftersom brickor hela tiden tillförs samtidigt som ytan är begränsad slutar spelet
          oavgjort när det inte längre finns plats för fler brickor. Det har demonstrerats att i en match
          i Fyra i rad, så kan den som lägger först, om hen använder rätt strategi,
          vinna, hur än motståndaren lägger sina brickor.
        </p>
      </div>
    </div>
    <div class="col-sm-6 mt-2 pt-4">
      <img class="card-img-rules pt-1" src="/images/superMario.jpg" alt="super mario">
    </div>
  </div>

  <div class="row pt-0 pb-4">
    <div class="col-sm-6">
      <div class="card p-2 mt-3 h-100">
        <div class="card-body">
          <h5 class="card-title">Hur man spelar:</h5>
          <p class="card-text">
            Spelare 1 börjar med ska placera en bricka i någon av de tomma rutorna.
            Därefter turas deltagarna om att lägga en bricka i spelbrädet.
            Den som först får fyra av sina brickor i rad (vågrätt, lodrätt eller diagonalt) vinner.
            Om spelbräder fyll och ingen har fått fyra i rad så blir det oavgjort.
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card p-2 mt-3 h-100">
        <div class="card-body ">
          <h5 class="card-title">Hur man startar spelet:</h5>
          <p class="card-text">
            Klicka på “Spela” i menyn.
            Fyll i formuläret med namn och typ av spelare.
            Klicka därefter “Börja spela” eller på knappen nedanför.
          </p>
          <div>
            <a class="btn btn-success mt-3 p-2 text-light" href="/play">Gå till Spelet</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>