<div class="container-fluid">
  <div class="row ">
      <div class="container borderimg">
        <h1 class="display-4 m-5">Om Spelet.</h1>
        <p class="lead m-5" >Fyra i rad är ett strategiskt sällskapsspel för två personer.
          Varannan gång lägger deltagarna en bricka i spelet.
          Den som först får fyra av sina brickor i rad (vågrätt, lodrätt eller diagonalt) vinner.
          Eftersom brickor hela tiden tillförs samtidigt som ytan är begränsad slutar spelet oavgjort
          när det inte längre finns plats för fler brickor. Det har demonstrerats att i en match
          i Fyra i rad, så kan den som lägger först, om han använder rätt strategi,
          vinna, hur än motståndaren lägger sina brickor.
</p>
      </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="card ml-5 mb-5 borderimg">
        <div class="card-body">
          <h5 class="card-title">Hur man spelar: </h5>
          <ul style="">
            <li>Spelare 1 börjar med ska placera en bricka i någon av de tomma rutorna. </li>
            <li>Därefter turas deltagarna om att lägga en bricka i spelbrädet.</li>
            <li>Den som först får fyra av sina brickor i rad (vågrätt, lodrätt eller diagonalt) vinner.</li>
            <li>Om spelbräder fyll och ingen har fått fyra i rad så blir det oavgjort.</li>
          </ul>
        </div>
      </div>
    </div>
  <div class="col-sm-6">
    <div class="card m-5 borderimg">
      <div class="card-body">
        <h5 class="card-title">Hur man startar spelet:</h5>
        <ul style="">
          <li class="pb-2">Klicka på “Spela” i menyn.</li>
          <li>Fyll i formuläret med namn och typ av spelare.</li>
          <li>Klicka därefter “Börja spela” eller på knappen nedanför.</li>
        </ul>
        <a class="btn btn-warning mt-2 m-auto p-2 text-light" href="/play">Gå till Spelet</a>
      </div>
    </div>
  </div>

</div>
</div>
