<div class="container-fluid">
  <div class="row">
    <div class="container borderimg">
      <img src="/images/shrooms1.png" class="img-fluid shroom" alt="shroom waving">
      <h2>Om Spelet</h2>
      <p class="lead my-5">Fyra i rad är ett strategiskt sällskapsspel för två personer.
        Varannan gång lägger deltagarna en bricka i spelet.
        Den som först får fyra av sina brickor i rad (vågrätt, lodrätt eller diagonalt) vinner.
        Eftersom brickor hela tiden tillförs samtidigt som ytan är begränsad slutar spelet oavgjort
        när det inte längre finns plats för fler brickor. Det har demonstrerats att i en match
        i Fyra i rad, så kan den som lägger först, om han använder rätt strategi,
        vinna, hur än motståndaren lägger sina brickor.
      </p>
      <div class="coins">
          <img src="/images/coins.png" class="coins" alt="gold-coins">
          <img src="/images/coin.png" class="coins" alt="gold-coins">
        </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="card borderimg mt-3">
          <div class="card-body">
            <h4> Hur man spelar</h4>
            <ul class="rules-list">
              <li>Spelare 1 börjar med ska placera en bricka i någon av de tomma rutorna.</li>
              <li>Därefter turas deltagarna om att lägga en bricka i spelbrädet.</li>
              <li>Den som först får fyra av sina brickor i rad (vågrätt, lodrätt eller diagonalt) vinner.</li>
              <li>Om spelbräder fyll och ingen har fått fyra i rad så blir det oavgjort.</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card borderimg mt-3">
          <div class="card-body">
            <h4>Hur man startar spelet</h4>
            <ul class="rules-list >
              <li pb-2">Klicka på “Spela” i menyn</li>
              <li>Fyll i formuläret med namn och typ av spelare.</li>
              <li>Klicka därefter “Börja spela” eller på knappen nedanför.</li>
            </ul>
            <a class="btn startpage-btn btn-warning p-2 text-light" href="/play">Spela</a>

          </div>
        </div>
      </div>

    </div>
  </div>