<div class="container-fluid m-auto mt-4">
  <div class="row">
    <h2>Välkommen till 4iRad </h2>
    <h4 class="pb-2">hjärngympan!</h4>
    <div class="welcome col-md-9 p-1 mt-2">
      <div class="pt-2 pr-2 pb-2">
        <p class="welcome-text mt-1">Spela 4 i rad- det klassiska taktikspelet som tränar hjärnan.
          Fyra i rad är ett brädspel för två spelare som följer reglerna i spelet. Spelarna försöker bygga en rad
          med fyra pjäser genom att använda olika strategier.</p>
        <a class="btn startpage-btn btn-success p-2 text-light" href="/play">Spela</a>
      </div>
    </div>
    <!--Aside picture-->
    <div class="aside col-md-3 pb-2 pl-3 pr-0 mt-2">
      <!-- <div class="card"> -->
      <img class="img" src="/images/aside.jpg" alt="image of four in a row board">
    </div>
  </div>
  <!-- </div> -->
  <!--Cards with links to other games-->
  <div class="row card-deck mt-5 mb-5">
    <div class="col-md-4 card p-0">
      <img class="card-img-top" src="/images/cool-math-games.jpg" alt="Picture of 4 in a row with home/restart button and choose how many players to play">
      <div class="card-body">
        <h5 class="card-title">Cool Math Games</h5>
        <p class="card-text">Testa denna variant av 4 i rad. Om du får nog av våran.</p>
        <a href="https://www.coolmathgames.com/0-4-in-a-row" class="card-link" target="_blank">Spela spelet!</a>
      </div>
    </div>
    
      <div class="col-md-4 card p-0">
        <img class="card-img-top" src="/images/mathIsFun.jpg" alt="Picture of a connect four gamebord that is yellow and has blue and red chip markers">
        <div class="card-body">
          <h5 class="card-title">Math Is Fun</h5>
          <p class="card-text">Testa denna variant av 4 i rad. Om du får nog av våran.</p>
          <a href="https://www.mathsisfun.com/games/connect4.html" class="card-link" target="_blank">Spela spelet!</a>
        </div>
    </div>
    <div class="col-md-4 card p-0">
      <img class="card-img-top" src="/images/games-cdn.jpg" alt="Picture of 4 in a row with a title, start button and brown background">
      <div class="card-body">
        <h5 class="card-title">Games Cdn</h5>
        <p class="card-text">Testa denna variant av 4 i rad. Om du får nog av våran.</p>
        <a href="https://games.famobi.com/4-row" class="card-link" target="_blank">Spela spelet!</a>
      </div>
    
  </div>
</div>
