<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 p-0">
      <div class="welcome p-2">
        <h2>Välkommen till 4iRad</h2>
        <h4>Hjärngympan</h4>
        <p>Spela 4 i rad- det klassiska taktikspelet som tränar hjärnan.<br>
          Fyra i rad är ett brädspel för två spelare som följer reglerna i spelet.<br>Spelarna försöker bygga en rad
          med fyra pjäser genom att använda olika strategier.</p>
        <div class="row mb-2">
          <a class="btn btn-warning mt-2 m-auto p-2" href="/play">Spela</a>
        </div>
      </div>
    </div>

    <div class="col-md-4 pl3 pr-0 paddingl">
      <div class="card">
        <img class="card-img" src="/images/aside.jpg" alt="Card image">
      </div>
    </div>

    <!--Cards with links to other games-->
    <div class="card-deck mt-5">
      <div class="col-md-4 card p-0">
        <img class="card-img-top" src="/images/cool-math-games.jpg" alt="4 in a row with home/restart button and choose how many players to play">
        <div class="card-body">
          <h5 class="card-title">Cool Math Games</h5>
          <p class="card-text">Testa denna variant av 4 i rad. Om du får nog av våran.</p>
          <a href="https://www.coolmathgames.com/0-4-in-a-row" class="card-link" target="_blank">Spela spelet!</a>
        </div>
      </div>
      <div class="col-md-4 card p-0">
        <img class="card-img-top" src="/images/maths-is-fun.jpg" alt="Picture of a gamebord that is yellow and has blue and red chip markers">
        <div class="card-body">
          <h5 class="card-title">Math Is Fun</h5>
          <p class="card-text">Testa denna variant av 4 i rad. Om du får nog av våran.</p>
          <a href="https://www.mathsisfun.com/games/connect4.html" class="card-link" target="_blank">Spela spelet!</a>
        </div>
      </div>
      <div class="col-md-4 card p-0">
        <img class="card-img-top" src="/images/games-cdn.jpg" alt="4 in a row title with a start button and brown background">
        <div class="card-body">
          <h5 class="card-title">Games Cdn</h5>
          <p class="card-text">Testa denna variant av 4 i rad. Om du får nog av våran.</p>
          <a href="https://games.famobi.com/4-row" class="card-link" target="_blank">Spela spelet!</a>
        </div>
      </div>
    </div>

  </div>
</div>