<div class="container-fluid">
<div class="row">
  <div class="col-md-8">
    <div class="card p-3">
  <h2>Välkommen till Hjärngympan</h2>
  <p>Spela 4 i rad- det klassiska taktikspelet som tränar hjärnan<br>
    Fyra i rad är ett brädspel för två spelare som följer reglerna i spelet ... Spelarna försöker bygga en rad med fyra pjäser genom att använda olika strategier.</p>
    <div class="row">
    <a class="btn btn-primary m-auto" href="#">Spela</a>
  </div>
  </div>
</div>

  <div class="col-md-4">
    <div class="card">
      <img class="card-img" src="/images/aside.jpg" alt="Card image">
    </div>
  </div>
</div>
</div>