body > div {
  font-family: 'Quicksand', sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
}

h2, p{
  font-family: 'Oxygen', sans-serif;
  color: rgba(255, 166, 0, 0.829);
}
