body > div {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  @font-face{
    font-family: 'Ailerons'; 
    src: url('/www/fonts/Ailerons-Regular.otf'), sans-serif;
  }
}

main {
  flex: 1;
}

h2, h4{
  @font-face {
    font-family: 'ONEDAY', sans-serif;;
    src: url('/www/fonts/ONEDAY.ttf');
  }
  font-size: 3rem;
  color: #FF7400;
  font-weight: 300;
  footer > p{
    font-family: 'Oxygen', sans-serif;
  }
}

@media (max-width: 991.98px) {
  .paddingl {
    padding-left: 0 !important;
  }
}

.btn{
  width: 100%;
}
