//color palette SuperMario theme;
$primary-color: #ff4949;
$secondary-color:#1C57EC;
$ternary-color: #d4d730;
$fourth-color: #3e4ef0;
$gray-light: #d2dae2;
$gray-dark: #808e9b;
$gray-darkest: #485460;

// breakpoints // @mediaqueries 
/* $grid-breakpoints: (
  xs: 0,
  phone: 320px,
  tablett: 768px,
  ipad: 992px,
  desktop: 1200px
) !default;

@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints);


// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
) !default;

@include _assert-ascending($container-max-widths, "$container-max-widths");
*/