.action {
  cursor:pointer;
}

.disabled {
  opacity: 0.2;
  cursor: default;
}

.board {
  width: 600px;  
  background: royalblue;
}

.cell {
  width: 14.28%;

}

.cell > div {
  padding-top: 100%;
  position:relative;
  //background-color: blue;

}

.cell > div > div {
  position:absolute;
  top:10%;
  left: 10%;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  background-color: white;
}

.cell > div > div.red {
   background-color: red;
 }

 .cell > div > div.yellow {
   background-color: yellow;
 }

 .action{
   cursor: pointer;
 }

  // Small devices (landscape phones, less than 768px)
  @media (max-width: 350px) {
    max-width: 100%;

  }
  

 @media (max-width: 575.98px) { 
   .board {
     max-width: 100%;
 }
 }


 