.action {
  cursor:pointer;
}

.disabled {
  opacity: 0.2;
  cursor: default;
}

.board {
  width: 600px;  
  background: royalblue;
}

.cell {
  width: 14.28%;

}

.cell > div {
  padding-top: 100%;
  position:relative;
  //background-color: blue;

}

.cell > div > div {
  position:absolute;
  top:10%;
  left: 10%;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  background-color: white;
}

.cell > div > div.red {
   background-color: red;
 }

 .cell > div > div.yellow {
   background-color: yellow;
 }
//  .cell  > div > div {
//   background-color: red;
// }

 

// .cell > div > div {
//   background-color: yellow;
// }

// .marker {
//   // To make squares
//   width: calc(100%/7);
//   padding-top: calc(100%/7);
//   border: 2px solid royalblue;
//   background: white;
//   border-radius: 50px;
//   cursor: pointer;
// }


// // .marker {
// //   // To make squares
// //   width: calc(100%/7);
// //   padding-top: calc(100%/7);
// //   border: 2px solid royalblue;
// //   background: white;
// //   border-radius: 50px;
// //   cursor: pointer;
// // }
