.board {
  width: 600px;  
  background: royalblue;
}

.marker {
  // To make squares
  width: calc(100%/7);
  padding-top: calc(100%/7);
  border: 2px solid royalblue;
  background: white;
  border-radius: 50px;
  cursor: pointer;
}

//marker 
.marker.red > div > div{
background-color: red;

}

.marker.yellow > div > div{
  background-color: yellow;
}