.highscore{
  width: 100%;
  margin: auto 0;
  height: auto;

  .list-head{
    border: 1px solid #d2dae2;
  }
}

li {
  list-style-type: none;
}


  h5{
    font-weight: 200;
    font-size: 25px;    
    color: #ff5e57;
  }
