li {
  list-style-type: none;
}

.highscorelist-heading {
  text-align: center;
  font-size: 63px;
  padding-top: 20%;
  padding-right: 33px;
  @media (min-width: 768px) {
    font-size: 22px;
  }
  @media (min-width: 576px) {
    font-size: 12px;
  }
  @media (min-width: 320px) {
    font-size: 16px;
  }
}

 #rank #name #moves {
    font-size: 43px;
  @media (min-width: 768px) {
    font-size: 16px;
  }
  @media (min-width: 576px) {
    font-size: 12px;

  }
  @media (min-width: 320px) {
     font-size: 8px;
  }
}


.fireball-mario .flying-luigi {
  display: block;
  width: 80%;
  @media (min-width: 768px) {
    font-size: 16px;
  }
  @media (min-width: 576px) {
    font-size: 12px;

  }
  @media (min-width: 320px) {
     font-size: 8px;
  }
}