
body{
  font-weight: 200;
}

form {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

input {
  outline: none;
}
btn {
  background-color: green;
}

// shows red when u have an empty field 1 char and above 10 chars.
input:focus:invalid {
  border-color: red;

}

// created class so we can hide the invalid color until we focus the input field

input.untouched {
  border-color: rgb(163, 163, 163);
  box-shadow: none;
}

input:valid {
  border-color: rgb(15, 233, 80);
}

.mario {
  float: left;
  width: 30%;
  position: relative;
}

.luigi {
  float: right;
  width: 23%;
  position: relative;

}

.choose-playerTwo {
  color: rgb(241, 241, 14);
  font-size: 2.5rem;
  text-shadow: 2px 1px 1px black;
}

.choose-playerOne {
  color: #ff0000;
  font-size: 2.5rem;
  text-shadow: 2px 1px 1px black;

}
