.rpbutton {
  background-color: #ffc107;
  font-size: 16px;
  color: white;
  border-radius: 5px;
  padding: 7px;
  padding-top: 13px;
}

.game-rules .card-text {
  line-height: 1.5;
}

.card-img-rules {
  padding-top: 65px;
}

.card-title {
  text-align: center;
}
  .shroom{
    width: 20%;
    float: right;
    height: auto;
  }
  .coins{
    width: 40%;
    height: auto;
    float: right;
  }
  
.card{
  border: 2px solid #ffd32a;
}




