
.lead, .rules-list{
  font-size: 17px;
  @font-face {
    font-family: 'ONEDAY', sans-serif;
    src: url('/fonts/ONEDAY.ttf');
  }
  line-height: 1.4;
  font-weight: 200;
}

.rules-image{
  width: 100%;
  height: auto;
  position: absolute;
  margin: auto 0;
}
  .shroom{
    width: 20%;
    float: right;
    height: auto;
  }
  .coins{
    width: 40%;
    height: auto;
    float: right;
  }
.card{
  border: 2px solid #ffd32a;
}




