.rpbutton {
  font-size: 16px;
  color: white;
  border-radius: 5px;
  padding: 7px;
  padding-top: 13px;
}


.about-text .card-text {
  line-height: 1.5;
}


.card-title {
  text-align: left;
}
  .shroom{
    width: 20%;
    float: right;
    height: auto;
  }
  .shroom-img {
    width: 26%;
    height: auto;
    float: left;
  }
  
.card{
  border: 2px solid #ffd32a;
}

.card-img-rules {
  width: 101%;
}




